@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Josefin Sans, Work Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  outline: 1px solid tomato;
  max-width: 375px;
  /* padding: 0 20px; */
  padding: 60px 16px;
  margin: 0 auto;
}

.app-about-title {
  color: #232233;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.app-about-text {
  color: #6c6c72;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.app-about-img-wrap {
  /* position: relative; */
  outline: 1px solid green;
}

.app-about-img {
  position: relative;
  outline: 1px solid orange;
  margin: 0 auto;
  z-index: 1;
}

.app-about-elipse {
  width: 100%;
  margin: 0 auto;
  /* transform: translateY(-50%); */
  fill: #fff;
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
}

.ellipse {
  margin: 0 auto;
  width: 212px;
  height: 71px;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 320px) {
  .app-about-elipse {
    /* left: 30px; */
  }
}
