@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Josefin Sans, Work Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ============================ MEDIA ===================================== */
@media screen and (max-width: 320px) {
  .selector {
    /* property */
  }
}

/* ============================ MEDIA ===================================== */

.container {
  outline: 1px solid tomato;
  max-width: 375px;
  /* padding: 0 20px; */
  padding: 60px 16px;
  margin: 0 auto;
}

.app-about-title {
  color: #232233;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.app-about-text {
  color: #6c6c72;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.app-about-img img {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.app-about-elipse {
  margin: 0 auto;
  width: 212px;
  height: 71px;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.app-about-list {
}

.app-about-list-item {
  display: flex;
  border-radius: 10px;
  background: #fff;
  padding: 18px 16px 10px 19px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.app-about-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.app-about-list-item-icon {
  fill: #5956e9;
  margin-right: 18px;
  /* display: flex; */
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.app-about-list-item-title {
  color: #232233;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.app-about-list-item-descr {
  color: #6c6c72;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.features .container {
  background: #423fd9;
  background-image: url(/images/app-features/app-features-background-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app-features-title {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.app-features-text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 32px;
}

.app-features-list-item {
  text-align: center;
}

.app-features-list-item:not(:last-child):not(:nth-child(3)) {
  margin-bottom: 40px;
  /* outline: 1px solid rgb(58, 184, 33); */
}

.app-features-list-item-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}
.app-features-list-item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.app-features-list-item-descr {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.app-features-list-item-img {
  margin: 60px auto;
  border-radius: 40px;
  box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.5);
}

.app-features-list-item.image {
}
